{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="resume_block">
            <h3 class="mt-3 vacancy_title">Резюме: <b>{{ resume.name }}</b></h3>
            <div class="post-details2  mb-50">
                <div class="company-img company-img-details">
                    <a href="{% url 'user_profile' resume.author_id %}"><img
                            src="{{ resume.author.avatar.url }}" style="width: 85px; height: 85px"
                            alt=""></a>
                </div>
                <div class="job-tittle">
                    <a href="{% url 'user_profile' resume.author_id %}">
                        <h4>{{ resume.author.username }}</h4>
                    </a>
                    <ul>
                        <li>Категория {{ resume.category }}</li>

                        <li>Желаемая зп {{ resume.salary }}</li>
                    </ul>
                </div>
                <div class="small-section-tittle">
                    <h4>Контакты:</h4>
                </div>
                <ul>
                    <li>Telegram <b>{{ resume.telegram }}</b></li>
                    <li>Linkedin <b>{{ resume.linkedin }}</b></li>
                    <li>Facebook <b>{{ resume.facebook }}</b></li>
                    <li>Email <b>{{ resume.email }}</b></li>
                    <li>Телефон <b>{{ resume.phone_number }}</b></li>
                </ul>
            </div>
            <p class="reload_p">Обновлена: <b>{{ resume.updated_at|date:"d-m-Y H:i" }} </b>
                {% if user.is_authenticated %}
                {% if perms.core.change_resume or resume.author == request.user %}
                <a class="reload_btn" href="{% url 'resume_renew' resume.pk%}">Обновить <i
                        class="fa-solid fa-rotate"></i></a>
                {% endif %}
                {% endif %}</p>
            {% if user.is_authenticated %}
            <div class="resume_link_block">
                {% if perms.core.change_resume or resume.author == request.user %}
                <a href="{% url 'resume_update' resume.pk %}" class="genric-btn primary circle">Редактировать</a>
                {% endif %}
                
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}